root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{js,jsx,ts,tsx}]
quote_type = single

[*.{md,MD}]
max_line_length = off
trim_trailing_whitespace = false

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
