name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
    inputs:
      withBenchmark:
        description: 'With Benchmark?'
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set node version to ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Lint
        run: npm run lint

      - name: Tests & Coverage
        if: github.ref != 'refs/heads/master'
        run: npm run test
        run: npm run coverage
        env:
          CI: true

      - name: Benchmark
        if: github.event.inputs.withBenchmark
        run: npm run benchmark
