name: Internal benchmark

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write
  deployments: write

jobs:
  internal-benchmark:
    if: github.repository == 'poolifier/poolifier'
    runs-on: [self-hosted, internal-benchmark]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --ignore-scripts
      - name: Run production benchmark
        run: pnpm benchmark:prod | tee ./benchmarks/internal/output.txt
      - name: Store production benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Internal benchmark
          tool: 'benchmarkjs'
          output-file-path: ./benchmarks/internal/output.txt
          github-token: ${{ secrets.BENCHMARK_RESULTS_TOKEN }}
          auto-push: true
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          max-items-in-chart: 100
          gh-repository: 'github.com/poolifier/benchmark-results'
